{% extends '../base.html'%}

{% block content %}
    <div class="p-3">
        <h3 class="small">
            <a href="{% url 'mech_list' %}" class="btn btn-outline-primary">
                Request Mechanic
            </a>
            <a href="{% url 'view_profile' user_id=user.id%}" class="btn btn-outline-primary">
                View Profile
            </a>
            <a href="" class="btn btn-outline-primary">
                View My Requests
            </a>
        </h3>
    </div>
{% endblock %}
